{% extends "base.html" %}

{% block title %}Adicionar Despesa{% endblock %}

{% block content %}
<h2 class="mb-4">Adicionar Despesa</h2>

<div class="card p-4">
    <form method="POST">
        {% csrf_token %}

        <p>
            {{ form.descricao.label_tag }}
            {{ form.descricao }}
        </p>

        <p>
            {{ form.valor.label_tag }}
            {{ form.valor }}
        </p>

        <p>
            {{ form.categoria.label_tag }}
            {{ form.categoria }}
        </p>

        <!-- Campo de data com calendário -->
        <p>
            <label for="data">Data:</label>
            <input type="date" id="data" name="data" class="form-control">
        </p>

        <button class="btn btn-primary w-100 mt-3" type="submit">Salvar</button>
    </form>
</div>

<a href="{% url 'index' %}" class="btn btn-secondary mt-3">Voltar</a>

{% endblock %}
