{% extends "base.html" %}

{% block title %}Adicionar Despesa{% endblock %}

{% block content %}
<h2 class="mb-4">Adicionar Despesa</h2>

<div class="card p-4">
    <form method="POST">
        {% csrf_token %}

        <div class="mb-3">
            {{ form.descricao.label_tag }}
            {{ form.descricao }}
        </div>

        <div class="mb-3">
            {{ form.valor.label_tag }}
            {{ form.valor }}
        </div>

        <div class="mb-3">
            {{ form.categoria.label_tag }}
            {{ form.categoria }}
        </div>

        <div class="mb-3">
            {{ form.classificacao.label_tag }}
            {{ form.classificacao }}
        </div>

        <div class="mb-3">
            {{ form.data.label_tag }}
            {{ form.data }}
        </div>

        <button class="btn btn-primary w-100 mt-3" type="submit">Salvar</button>
    </form>
</div>

<a href="{% url 'index' %}" class="btn btn-secondary mt-3">Voltar</a>

{% endblock %}
